---
layout: default
---

<div class="home">

  <h1 class="page-heading">What's Shakin'</h1>
 {% include intro.html %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li><svg xmlns="http://www.w3.org/2000/svg" width="465px" height="230px" viewBox="0 0 465 230" version="1.1">
  <#comment/>
  <title>
    dateholder
  </title>
  <desc>
    Created with Sketch.
  </desc>
  <defs>
    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
      <feOffset dx="-1" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"/>
      <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
      <feMerge>
        <feMergeNode in="shadowMatrixOuter1"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
      <feOffset dx="1" dy="-1" in="SourceAlpha" result="shadowOffsetOuter1"/>
      <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"/>
      <feMerge>
        <feMergeNode in="shadowMatrixOuter1"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
      <feOffset dx="2" dy="0" in="SourceAlpha" result="shadowOffsetInner1"/>
      <feGaussianBlur stdDeviation="6.5" in="shadowOffsetInner1" result="shadowBlurInner1"/>
      <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"/>
      <feColorMatrix values="0 0 0 0 0.441353104   0 0 0 0 0.441353104   0 0 0 0 0.441353104  0 0 0 0.7 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"/>
      <feMerge>
        <feMergeNode in="SourceGraphic"/>
        <feMergeNode in="shadowMatrixInner1"/>
      </feMerge>
    </filter>
  </defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="dateholder" transform="translate(4.000000, 5.000000)">
      <g id="Polygon-2-+-2014" transform="translate(2.128655, 57.391304)">
        <path d="M179.534585 54.4810537L0.691407022 162.886851 0.0507998104 162.886851 0.691407022 54.4810537 95.0286439 0.278155193 179.534585 54.4810537Z" id="Polygon-2" stroke="#8E44AD" fill="#FFFFFF" filter="url(#filter-1)" transform="translate(89.792692, 81.582503) rotate(-180.000000) translate(-89.792692, -81.582503) "/>
        <text id="year" sketch:type="MSTextLayer" transform="translate(106.000000, 87.500000) rotate(-30.000000) translate(-106.000000, -87.500000) " font-family="Amatic SC" font-size="60" font-weight="260" fill="#27AE60">
            <tspan x="65" y="104">{{ post.date | date: "%Y" }}</tspan>
        </text>
      </g>
      <g id="Polygon-1-+-Date">
        <path d="M179.231087 54.2028986L0.387909284 162.608696 -0.252697928 162.608696 0.387909284 54.2028986 94.7251462 0 179.231087 54.2028986Z" id="Polygon-1" stroke="#27AE60" fill="#FFFFFF" filter="url(#filter-2)"/>
      <text id="month" sketch:type="MSTextLayer" transform="translate(69.004647, 70.092000) rotate(-30.000000) translate(-69.004647, -70.092000) " font-family="Amatic SC" font-size="45" font-weight="260" fill="#8E44AD">
          <tspan x="12" y="85">{{ post.date | date: "%B" }}</tspan>
      </text>
      </g>
      <path d="M120 0.70487394L460.642968 0.70487394 460.642968 218.883036 120 218.883036 195.084923 176.52508 195.084923 43.3768939 120 0.70487394Z" id="Path-3" fill="white" filter="url(#filter-3)"/>
    </g>
  </g>
</svg>

        




        <h1>{{ post.title }}</h1>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
