<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <style media="screen">
      .holder{
        -webkit-transform:translatey(-200%);
        -webkit-transform:translatey(-200%);
      }

      .resume_close {
        -webkit-transform:translatey(-300%);
        transform:translatey(-300%);
        -webkit-transition:transform 300ms ease;
        transition:transform 300ms ease;
      }

      .details_close{
      -webkit-transform: scale(0);
      transform: scale(0);
      }
    </style>

</head>
