<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>


        <div class="about">


          <label for="radio-choice-1" class="about_button">About</label>
          <input type="radio" name="radio-choice" id="radio-choice-1" class="about_input" value="choice-1" />

          <label for="radio-choice-2" class="resume_close">close
          <input type="radio" name="radio-choice" id="radio-choice-2"  value="choice-2" />

          <div class="resume">
            <div class="header-sec">
            <h1>Mark Santiago</h1>
              <span class="meimage"></span>
            <p><em>Web Developer</em> ● <em>Pivot.Com</em></p>
            <h3><em>Highlights</em></h3>
            <hr />
               <h3 style="text-align:center;padding:20px;"><em>I'm a passionate front end developer with a unique combination of skills derived from an equally unique set of work experiences. The end user experience is my primary focus and delight is my ultimate goal.</em></h3>
          </div> <!--end header section-->
          <div class="resume_intro">



          </div>



          </div>

        </label>

</div>


  </div>

</header>
