/**
 * Site header
 */

@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Amatic+SC);

.site-header{

padding-bottom: 50px;

}
.skewed{
  box-shadow: 0px 7px 10px 0px rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 10px;
  position:abolute;
  transform: skewy(7deg);
-webkit-backface-visibility: hidden;
}

.site-header .wrapper{
    min-height: 300px;
    background-image: url(../images/concert.jpeg);
    background-size: cover;
    background-position-x: 10%;
    background-repeat: no-repeat;
    box-shadow: inset 0px -3px 9px -2px rgba(26, 26, 26, 0.69);
    // Positioning context for the mobile navigation icon
    position: relative;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 25px;
    padding:0px;
}

.site-title {
    position: absolute;
    font-size: 80px;
   font-family: 'Amatic SC', cursive;
    text-decoration: none;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 100px;
    text-align: center;
    margin-left: -225px;
    margin-top: -60px;

    &,
    &:visited {
         color: white;
    }

    &:hover{
        text-decoration: none;
    }

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



.resume_close{
  width: 300px;
  position: absolute;
  padding: 20px 0;
  margin-left: -340px;
  background: #16a085;
  color: #ecf0f1;
  box-shadow: 1px 5px 15px 0px rgba(100,100,100,.5);
  overflow: auto;
  transform: translatey(-300%);
  transition: transform 300ms ease;
}




#radio-choice-1:checked+label{
   transform:translatey(0%);


}
  .about{
  position: absolute;
  top: 50px;
  width: 100%;
}

  .about_button{
    position:absolute;
  background: #9b59b6;
  text-align: center;
  border-radius: 50%;
  text-align: center;
  width: 80px;
  height: 40px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 28px;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  line-height: 30px;
  font-weight: 500;
  box-shadow: inset 1px 1px 3px 1px rgba(255, 255, 255, 0.27);
  cursor: pointer;
  left:50%;
  margin-left:200px;
}


.about_input{
  font-size: 60px;
padding: 100px;
background: transparent;
color: transparent;
visibility: hidden;
line-height: 49px;
width: 30px;
height: 30px;
margin-left: -15px;
position:fixed;
top:-9999px;

}


.header-sec{
  text-align:center;
}

.header-sec h1{
  margin-bottom:10px;
}

.meimage{
  display:inline-block;
  height:100px;
  width:100px;
  background:white;
  border-radius:50%;

}


$green:#16a085;

.holder{
  width: 960px;
  margin: 0 auto;
  z-index: 10;
  left: 50%;
  margin-left: -455px;
  position:absolute;
  transition: transform 100ms ease;
}


.resume{
  position:relative;
  height:500px;
  width:300px;
  box-shadow:1px 1px 5px 1px #666;
  display:inline-block;
  margin-right:0px;
  float:left;
  padding:10px;
  color:white;

}

.Intro{
  background-color:darken($green,10%);
  z-index:5;


}

.Skills{
  background-color:$green;
  z-index:2;
  transition:transform 200ms ease;
  transition-delay:450ms;
  transform:translatex(-100%);

    h1{
    text-align:center;
    position:relative;
    padding:10px;

      &:before{
        content:"\29C9";
        position:absolute;
        bottom:-15px;
        transform:rotate(-90deg);
        left:49%;
        color:#2980b9;
      }

  }


}


.Experience{
  background-color:lighten($green,10%);
  z-index:1;
      transition:transform 200ms ease;
  transition-delay:650ms;
  transform:translatex(-200%);
}

input:checked+.holder{
  transform:translatey(0);
}


input:checked+.holder > .resume.Intro,
input:checked+.holder > .resume.Skills,
input:checked+.holder > .resume.Experience{
  transform:translatex(0);
}



#radio-choice-2{
  position:absolute;
}

// About Page Popup

.page_deets{
  position: absolute;
  width:100%;
  top: 275px;



  .site{
  font-size: 24px;
  background: #27ae60;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: inset 2px 1px 3px 2px rgba(199, 199, 199, 0.58);
  position: absolute;
  left: 50%;
  margin-left: -265px;
  top: 50px;

  }



}

.details_close{

  text-align: right;
  width: 80%;
  background: white;
  box-shadow: -1px 3px 8px 0px rgba(105, 105, 105, 0.78);
  padding: 10px;
  position: absolute;
  top: -250px;
  transition: transform 500ms linear;
  margin-left: 10%;


  span{
    background: #9b59b6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
  }

input{
  height: 20px;
width: 30px;
position: absolute;
margin-left: -30px;
visibility: hidden;
}

div{
  text-align:left;
}

  h3{
  font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 32px;
color:#8e44ad;
border-bottom: 5px solid;
border-color:darken(#9b59b6,10%);
  }




}

.cat_colors{

  text-align:center;

  li{
  list-style: none;
  width: 150px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  text-underline-position: text-bottom;
  padding: 55px 10px;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  box-shadow: inset 0px 0px 5px 5px rgba(66, 66, 66, 0.25);

    &:first-child{
      background-color:#e74c3c;
    }

    &:nth-child(2){
      background-color:#2ecc71;
    }

    &:last-child{
      background-color:#9b59b6;
    }



  }
}


.page_details_button{
  position: absolute;
  margin-top: -64px;
  left: 21px;
  height: 40px;
  width: 40px;
  visibility: hidden;
}

.page_details_button:checked+label{
   transform:scale(1);

}




/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
